@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'LuxoraLight';
    src: url('./assets/fonts/LuxoraGrotesk-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}